<div class="row">
  <div class="twelve columns centered">
    <div class="panel">
      <h1><%= link_to line.title, line  %> </h1>
      <p>People in line: <%= line.number_of_queuers %></p>
      <p>Start time: <%=  line.start_time.strftime("%m/%d/%y %H:%M%p") if line.start_time %> </p>
      <p>End time: <%=  line.end_time.strftime("%m/%d/%y %H:%M%p") if line.end_time %> </p>
  </div>
 </div>
</div>
