<div class="row">
  <div class="twelve columns centered">
    <div class="panel">
      <div class="row">
      <h1 class="nine columns"><%= link_to line.title, line  %> </h1>
      <div id="text_to_join_status" class="three columns">
        <p>
        Text to Join:
        <% if line.text_to_join %>
          <span class="round label">enabled</span>
        <% else %>
          <span class="round label alert">disabled</span>
        <% end %>
        </p>
      </div>
      </div>
      <p>People in line: <%= line.number_of_queuers %></p>
    </div>
  </div>
</div>
