<div>
  <div id="image-container">
    <%= image_tag 'restraurant.jpeg', id: "main-image" %>
  </div>
</div>
<div class="row">
  <div class="four columns">
    <h4>Buzz No More</h4>
    <p>Queuedoo sends texts to your customers when they are next in line, so you can free yourself from the woes of maintaining buzzers</p>
  </div>
  <div class="four columns">
    <h4>Communicate</h4>
    <p>Users can text back to Queuedoo to let you know that they will be late allowing them to save their spot in line. Queuedoo will automatically text the next person in line enabling better workflow.</p>
  </div>
  <div class="four columns">
    <h4>Cloud Nine</h4>
    <p>Queuedoo is all online so all you need is an internet connection to get started!</p> 
  </div>
</div>
