@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans);
$cursive_font: 'Pacifico';
$title_font: 'Julius Sans One', sans-serif;

h1, h2, h3, h4, span#get_started_prompt{
  font-family: $title_font
}

h4{
  font-size: 16px;
}

span#get_started_prompt{
  font-size: 20px;
}

p{
  font-family: 'Open Sans';
  font-size: 16px;
}

ul{
  list-style-type: none;
  padding: 0;
  li{
    display: inline;
  }
}

div#alert-section{
  padding-bottom: 25px;
}

section{
  div#image-container{
    position: relative;
    img{
      position: relative;
      z-index: -1;
    }
    p{
      position: absolute;
      z-index: 100;
      color: white;
      top: 50px;
      left: 170px;
      font-size: 40px;
      span#intro{
       font-family: $cursive_font;
       font-size: 100px;
      }
      span#IQ{
        font-size: 70px;
      }
    }
  }
}

div#prompt{
  text-align: center;
  margin-top: 100px;
  p{
    padding: 50px 0 50px 0;
  }
}

div#new_queuer_form, div#look_up_by_phone{
  display: none;
}
div.focus{
  top-margin: 100px;
}
